<div class="card card-default">
  <div class="card-header">
    <h2>Approval Levels</h2>
  </div>

  <div class="card-body pt-0">
    <ul class="nav nav-settings">
      <li class="nav-item">
        <%= link_to admin_indent_approval_levels_path, class: "nav-link #{approval_active_class("indent")}" do %>
          <i class="mdi mdi-account-settings mr-1"></i> Indent Approval Levels
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to admin_qc_approval_levels_path, class: "nav-link #{approval_active_class("qc")}" do %>
          <i class="mdi mdi-account-settings mr-1"></i> QC Approval Levels
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to admin_po_approval_levels_path, class: "nav-link #{approval_active_class("po")}" do %>
          <i class="mdi mdi-account-settings mr-1"></i> PO Approval Levels
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to admin_grn_approval_levels_path, class: "nav-link #{approval_active_class("grn")}" do %>
          <i class="mdi mdi-account-settings mr-1"></i> GRN Approval Levels
        <% end %>
      </li>
    </ul>
  </div>
</div>
