<% provide(:title, "PO Approval Levels") %>
<% provide(:page_title, "PO Approval Levels") %>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <%= render "shared/approval_levels/sidebar" %>
  </div>

  <div class="col-sm-12 col-md-9">
    <%= render "shared/approval_levels/index_page" %>
  </div>
</div>
