<div class="tab-pane" id="message" role="tabpanel" aria-labelledby="message-tab">
  <div class="media media-sm p-4 mb-0">
    <div class="media-body">
      <%= notification.message %>
    </div>
  </div>
</div>
