<div class="modal-header">
  <h5 class="modal-title" id="filterModalLabel"><%= @additional_term.name %></h5>
  <%= image_tag "cancel.svg", class: "close", "data-dismiss": "modal", "aria-label":"Close" %>
</div>

<div class="modal-body">
  <%= raw(@additional_term.conditions) %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Close">Close</button>
</div>
