<footer class="footer mt-auto">
  <div class="copyright bg-white">
    <p class="text-center">&copy; 2020 Copyright School Management by <%= link_to "Darkstars", root_path, class: "text-primary", target: "_blank" %>.</p>
  </div>
</footer>
