<% provide(:title, "New Indent") %>
<% provide(:page_title, "New Indent") %>
<% provide(:button_title, "Create Indent") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "procurement/shared/form", namespace: "procurement_pending", allow_new_item: true %>
  </div>
</div>
