<% provide(:title, "Edit Indent") %>
<% provide(:page_title, "Edit Indent") %>
<% provide(:button_title, "Update Indent") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "procurement/shared/form", namespace: "procurement_rejected", allow_new_item: false %>
  </div>
</div>
