<div class="modal fade" id="approval_history_modal" tabindex="-1" role="dialog" aria-labelledby="versionsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aprroval History for <strong><%= resource.public_send(attr) %></strong></h5>
        <%= image_tag "cancel.svg", class: "close", "data-dismiss": "modal", "aria-label":"Close" %>
      </div>

      <div class="modal-body">
        <%= yield %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Close">Close</button>
      <div>
    </div>
  </div>
</div>
