<div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog <%= 'modal-lg' if ['payment_terms'].include?(controller_name) %>" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
