<% if model.errors.any? %>
  <div class="alert alert-danger" id="error_explaination">
    <% model.errors.full_messages.each.with_index(1) do |msg, index| %>
      <p class="text-danger">
        <%= index %>. <%= msg %>.
      </p>
    <% end %>
  </div>
<% end %>
