<div class="card card-default">
  <div class="card-header">
    <h2>Settings</h2>
  </div>

  <div class="card-body pt-0">
    <ul class="nav nav-settings">
      <li class="nav-item">
        <%= link_to edit_user_registration_path, class: "nav-link #{"active" if active_class == "account"}" do %>
          <i class="mdi mdi-account-settings mr-1"></i> Account Settings
        <% end %>
      </li>

      <% if allow_organization_settings? %>
        <li class="nav-item">
          <%= link_to edit_admin_organization_path(current_organization), class: "nav-link #{"active" if active_class == "organization"}" do %>
            <i class="mdi mdi-settings-outline mr-1"></i> Organization Settings
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
