<ul class="nav nav-tabs mb-5">
  <li class="nav-item">
    <%= link_to "Indents", procurement_reports_indents_path, class: "nav-link #{set_active_class("indents", controller_name)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "RFQ", "#", class: "nav-link #{set_active_class("rfqs", controller_name)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "Purchase Orders", "#", class: "nav-link #{set_active_class("purchase_orders", controller_name)}" %>
  </li>
</ul>
