<div class="table-responsive">
  <table id="records_table" class="table indent-table" width="100%">
    <thead>
      <tr>
        <th scope="col">Serial</th>
        <th scope="col">Item</th>
        <th scope="col">Make</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost&nbsp;Center</th>
        <th scope="col">Requirement&nbsp;Date</th>
        <th scope="col">Priority</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render "page_items" %>
    </tbody>
  </table>
</div>
