<% provide(:title, "Indents Approval") %>
<% provide(:page_title, "Indents Approval") %>

<%= render "shared/page_help" %>

<%= render partial: "procurement/approval_requests/shared/status_tab", locals: { current_tab: "indents" } %>

<% if @indent_items.present? %>
  <%= render "index_table" %>
<% else %>
  <div class="well">
    <% if params[:q].present? %>
      No record has been found. Please search with proper keywords.
    <% else %>
      No record is pending for approval.
    <% end %>
  </div>
<% end %>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>

<script>
  var loadNextPage = function () {
    if ($('#records_table').height() === undefined || $('#next_link').data("loading")) { return }  // prevent multiple loading
    var wBottom = $(window).scrollTop() + $(window).height();
    var elBottom = $('#records_table').offset().top + $('#records_table').height();

    if (wBottom > elBottom) {
      if ($('#next_link')[0] !== undefined) {    // checking next page link is available or not
        $('#next_link')[0].click();
        $('#next_link').data("loading", true);
      }
    }
  };

  window.addEventListener('resize', loadNextPage);
  window.addEventListener('scroll', loadNextPage);
  window.addEventListener('load', loadNextPage);
</script>
