<% provide(:title, "Edit Indent") %>
<% provide(:button_title, "Update Indent") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "form", allow_new_item: true %>
  </div>
</div>
