<% provide(:title, "New Indent") %>
<% provide(:button_title, "Create Indent") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "form", allow_new_item: true %>
  </div>
</div>
