<div class="table-responsive">
  <table id="records_table" class="table table-hover" width="100%">
    <thead>
      <tr>
        <th scope="col">Serial</th>
        <th scope="col">Item</th>
        <th scope="col">Make</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost Center</th>
        <th scope="col">Requirement Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render "page_items" %>
    </tbody>
  </table>
</div>
