<% provide(:title, "Indents") %>

<section class="mb-4 d-flex justify-content-between">
  <span class="page-header">Indents</span>

  <section>
    <%= new_link(controller_name) %>
  </section>
</section>
<div class="card card-default">
  <div class="table-responsive">
    <table id="records_table" class="table table-hover" width="100%">
      <thead>
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Warehouse</th>
          <th scope="col">Item</th>
          <th scope="col">Make</th>
          <th scope="col">QTY</th>
          <th scope="col">UOM</th>
          <th scope="col">REQ BY</th>
          <th scope="col">Priority</th>
          <th scope="col">Cost Center</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render "page_items" %>
      </tbody>
    </table>
  </div>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>

<script>
  var loadNextPage = function () {
    if ($('#records_table').height() === undefined || $('#next_link').data("loading")) { return }  // prevent multiple loading
    var wBottom = $(window).scrollTop() + $(window).height();
    var elBottom = $('#records_table').offset().top + $('#records_table').height();

    if (wBottom > elBottom) {
      if ($('#next_link')[0] !== undefined) {    // checking next page link is available or not
        $('.se-pre-con').show();
        $('#next_link')[0].click();
        $('#next_link').data("loading", true);
      }
    }
  };

  window.addEventListener('resize', loadNextPage);
  window.addEventListener('scroll', loadNextPage);
  window.addEventListener('load', loadNextPage);
</script>
