<% provide(:title, "Edit Role") %>
<% provide(:page_title, "Edit Role") %>
<% provide(:button_title, "Update Role") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
