<% provide(:title, "New Role") %>
<% provide(:page_title, "New Role") %>
<% provide(:button_title, "Create Role") %>

<div class="card card-default">
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
