<% provide(:title, "GRN Approvals") %>
<% provide(:page_title, "GRN Approvals") %>

<div class="row">
  <div class="col-xl-3">
    <%= render "shared/approval_levels/sidebar", active_class: "grn" %>
  </div>

  <%= render "shared/approval_levels/index_page" %>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>
