<% provide(:title, "GRN Approvals") %>
<% provide(:page_title, "GRN Approvals") %>

<div class="row">
  <div class="col-xl-3">
    <%= render "shared/approval_levels/sidebar", active_class: "grn" %>
  </div>

  <div class="col-sm-12 col-xl-9">
    <div class="card">
      <div class="card-body">
        <%= render "shared/approval_levels/form", url: admin_grn_approval_levels_path, method: :post %>
      </div>
    </div>
  </div>
</div>
