<%= form_tag procurement_approved_indents_path, method: :get do %>
  <div class="table-responsive">
    <table id="records_table" class="table table-hover indent-table" width="100%">
      <thead>
        <tr>
          <th scope="col"><%= check_box_tag "", "", false, id: "indent_select_all_checkbox", class: "bulk-action-select-all-checkbox" %></th>
          <th scope="col">Serial</th>
          <th scope="col">Item</th>
          <th scope="col">Make</th>
          <th scope="col">Quantity</th>
          <th scope="col">Cost&nbsp;Center</th>
          <th scope="col">Requirement&nbsp;Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render "page_items" %>
      </tbody>
    </table>
  </div>
<% end %>
