<div class="table-responsive">
  <table id="records_table" class="table" width="100%">
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Warehouse</th>
        <th scope="col">Indent Count</th>
        <th scope="col">Vendor Count</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <%= render "page_items" %>
    </tbody>
  </table>
</div>
