<div class="table-responsive">
  <table id="records_table" class="table" width="100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Store Name</th>
        <th scope="col">Contact Person</th>
        <th scope="col">Contact Email</th>
        <th scope="col">Contact Number</th>
      </tr>
    </thead>

    <tbody>
      <%= render "vendor_table_items" %>
    </tbody>
  </table>
</div>
