table.table {
  thead th {
    color: #bfc7d9;
    background-color: #1d1f26;
  }

  td {
    vertical-align: middle;
  }
}

.sidebar-left {
  padding-bottom: 100px;
}

.remove_fields {
  margin-left: 5px;
  margin-right: 5px;
}

.hide {
  display: none !important;
}

.user-initial {
  background-color: #1d1f26;
  color: #bfc7d9 !important;
  line-height: 40px;
  font-size: 18px !important;
}
