.content {
  padding-bottom: .625rem;
}

table.table {
  border: 1px solid #E5E9F2;
  margin-bottom: 20px;

  thead {
    background-color: #D4D4D4;
  }

  thead th:first-child, tbody td:first-child {
    padding-left: 25px;
  }

  thead th:last-child, tbody td:last-child {
    padding-right: 25px;
  }

  td {
    vertical-align: middle;
  }

  .icon-burger-mini {
    font-size: 16px;
  }
}

.sidebar-left {
  padding-bottom: 100px;
}

.remove_fields {
  margin-left: 5px;
  margin-right: 5px;
}

.hide {
  display: none !important;
}

.user-initial {
  background-color: #1d1f26;
  color: #bfc7d9 !important;
  line-height: 40px;
  font-size: 18px !important;
}

.indent-table .border-bottom {
  border-bottom: 2px solid #9e6de0 !important;
}

.input-group {
  & > .field_with_errors:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > .field_with_errors:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .field_with_errors {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;

    .form-control {
      border-radius: 0;
    }
  }
}

.disabled-icon-link {
  pointer-events: none;
  cursor: text;
}

.icon-link {
  font-size: 16px;
}

.delete-image-btn {
  position: absolute;
  right: 0px;
  z-index: 99999;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.4rem 0.7rem !important;
  }
}

@media (min-width: 992px) {
  .pagination .page-link {
    padding: 0.5rem 1.3125rem !important;
  }
}

@media (min-width: 1200px) {
  .content-wrapper .content {
    padding: 1.875rem;
  }
}
