<div class="form-row">
  <div class="form-group col-md-6 col-sm-12">
    <%= f.label :name, "Name" %>
    <%= f.select :name_cont_any, Brand.all.pluck(:name, :name), {}, { multiple: true, class: "selectpicker form-control", "data-live-search": "true",  "data-selected-text-format": "count>2" } %>
    <a href="#" class="remove-selectpicker-selections"><i class="fas fa-minus-circle"></i></a>
  </div>

  <div class="form-group col-md-6 col-sm-12">
    <%= f.label :archive, "Status" %>
    <%= f.select :archive_eq_any, [["Archived", "true"], ["Active", "false"]], {},  { multiple: true, class: "selectpicker form-control", "data-live-search": "true",  "data-selected-text-format": "count>2" } %>
    <a href="#" class="remove-selectpicker-selections"><i class="fas fa-minus-circle"></i></a>
  </div>
</div>
