<h3>Welcome to admin dashboard..!!</h3>
<br><br><br>
<p><strong>Links:</strong></p>
<hr>
<%= link_to "Companies(#{current_organization.companies.count})", admin_companies_path %><br>
<%= link_to "Warehouses(#{current_organization.warehouses.count})", admin_warehouses_path %>
